#root {
  /* max-width: 1280px; */
  margin: 0 !important;
  padding: 0 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: large;
}

.bannerImg {
  background-image: url("./assets/images/banner.jpg");
}
